@page
@model IndexModel
@{
    ViewData["Title"] = "Makanan";
}
@section Styles {
    <link href="~/css/food.css" rel="stylesheet"/>
}

<h1 class="ms-4 mt-3">@ViewData["Title"]</h1>

<section class="card-area pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="card single-card card-style-one">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c" alt="Image" />
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="javascript:void(0)">Sayur???</a>
                        </h4>
                        <p class="text">
                            Terbuat dari sayur yang bergizi , top markotop
                        </p>
                    </div>
                </div>
                <!-- single-card -->
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class=" card single-card card-style-one">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38" alt="Image" />
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="javascript:void(0)">Item title is here</a>
                        </h4>
                        <p class="text">
                            Short description for the ones who look for something new
                        </p>
                    </div>
                </div>
                <!-- single-card -->
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="card single-card card-style-one">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd" alt="Image" />
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="javascript:void(0)">Item title is here</a>
                        </h4>
                        <p class="text">
                            Short description for the ones who look for something new
                        </p>
                    </div>
                </div>
                <!-- single-card -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
