<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant Online Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Drink">Drink</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">

        <div class=" col-10 " style="background-color: hsla(9, 0%, 64%, 0.1)">
             @RenderBody()
      
        </div>

        <div class="container col-2">
            <div class="d-flex flex-column" style="width:100%; height:100%;">
                <div class="my-3">
                    <span class="fw-bold" style="font-size:1rem;">Current Order</span>
                </div>
                <div class="flex-lg-grow-1 me-3">
                    <div class="card">
                        <div class="d-flex">
                            <img style="object-fit:cover; height:100%; width:28%;" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c" alt="Image" />
                            <div class="ms-3">
                                <div class="d-flex flex-column gap-2">
                                    <div>
                                        <span class="fw-bold">
                                            Sayur
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <span style="color:aquamarine">$10.0</span>
                                        </div>
                                        <div>
                                            <button>-</button>
                                            <span>1</span>
                                            <button>+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="d-flex align-items-end mx-auto mb-3">
                    <button type="button" class="btn  btn-success">Order</button>
                </div>
            </div>
            
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>